div:hover {
    border: 6px solid black;
}
div:nth-child(3){
    color: yellow;
    height: 50px;
    background-color: black;
}
div:nth-child(4){
    color: green;
    background-color: yellow;
}
div:nth-child(5){
    color: purple;
    background-color: aquamarine;
}
div:nth-child(6){
    color: darkblue;
    background-color: lightcoral;
}
div:nth-child(7){
    color: lightblue;
    background-color: blue;
}
div:nth-child(2n+1){
    font-style: italic;
}